<li itemscope itemtype="http://schema.org/Code">
  <div class="header">
    <div class="header-content">
      <h2 class="title">
        <%= link_to member, rel: 'member', itemprop: 'username' do %><%= member.username %><% end %>
        (<%= member.first_name %> <%= member.last_name %>)
      </h2>
    </div>
  </div>
