<%= render partial: 'flash' %>
<div class="page nobg">
  <h1 class="title">
    <%= @group.name %>
  </h1>

  <h2>Members</h2>
  <% if @members.any? %>
    <ul class="listing" id="members">
      <%= render partial: 'member', collection: @members %>
    </ul>
  <% end %>
</div>
